.reebokText{
    position: absolute;
    bottom: 27%;
    left: 9%;
}
.reebokLogo img{
    width: 40px;
    height: 40px;
    top: 59%;
    left: 9%;
}

@media (max-width: 705px){
    .reebokText{
        bottom: 33%;
    }
    .reebokLogo img{
        top: 51%;
    }
}
@media (max-width: 500px){
    .reebokText{
        left: 8%;
        bottom: 35%;
    }
    .reebokLogo img{
        width: 28px;
        height: 28px;
        top: 46%;
        left: 8%;
    }
    
}