.classicText{
    position: absolute;
    top: 60%;
    left: 4%;
}
.classicLogo img{
    top: 56%;
    left: 35%;
}
@media (max-width: 705px){
    .classicText{
        top: 50%;
    }
    .classicLogo img{
        width: 40px !important;
        height: 40px !important;
        top: 46%;
    }
}
@media (max-width: 500px){
    .classicText{
        top: 45%;
        left: 5%;
    }
    .classicLogo img{
        width: 25px !important;
        height: 25px !important;
        top: 47%;
    }
    
}