.colors {
    margin-top: 20px;
    z-index: 3;
    position: relative;
}
  
.color {
    display: inline-block;
    height: 55px;
    width: 55px;
    margin-left: 0.5em;
    border-radius: 50%;
    border: 3px solid #ffffff;
    cursor: pointer;
    margin-top: 5px;  
}
@media (max-width: 1240px){
    .color {
        height: 45px;
        width: 45px;
    }
}
@media (max-width: 700px){
    .color {
        height: 50px;
        width: 50px;
    }
}